:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 1.5rem;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  &:not(:last-child) {
    margin: 1rem 0;
  }
}
